body {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  background: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.button {
  display: flex;
  font-size: 13px;
  height: 34px;
  min-width: 88px;
  background: #f2f5fa;
  border: 1px solid #e6eaf3;
  color: #43618b;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  margin-left: 5px;

  &--disabled {
    opacity: .5;
    cursor: default;
  }
}

input {
  width: 125px;
  padding: 8px;
  text-align: left;
  color: #43618b;
  border: 1px solid #e6eaf3;
  outline: none;
  border-radius: 3px;
  font-size: 12px;
}

textarea {
  display: flex;
  width: 100%;
  height: 220px;
  padding: 0px;
  border: 0;
  resize: none;
  font-size: 16px;
  outline: none;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-right: 15px;
  padding-left: 10px;
  background-color: #38455d;
  &__subsection {
    display: flex;
  }
}

.mail-item {
  display: flex;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  height: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  flex-direction: column;

  &__info-text {
    font-family: monospace;
    color: #43618b;
    font-weight: 100;
    font-size: 12px;
  }

  &__message {
    margin-top: 5px;
    white-space: pre-line;
  }
}

.modal-container {
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  position: fixed;
  justify-content: center;
}

.modal {
  background: white;
  width: 400px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #e6eaf3;
  border-bottom: 1px solid #e6eaf3;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  height: 42px;
}
.modal-footer {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
}


.modal-background {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
